@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    height: 80%;
    width: 99%;
    /* background-color: #d8eae5; Definir a cor de fundo da página */
  
}


.texto {

    text-align: center;
    color: darkcyan;
    text-shadow: 2px 2px 4px #afb0b1;
    font-weight: bold;
}

.logo {
    margin-top: 5%;
    text-align: center;
}

.chat-popup {
    z-index: 5;
    overflow-y: auto; 
    position: absolute;
    display: none;
    bottom: 20px;
    width: 335px;
    height: 485px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cffff3 0px 10px 10px -5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    left: 10px;
    top: 0px;

}

.profile-list {
    width: 100px;
    height: 100%;
    float: left;
    overflow-y: scroll;
    background-color: #f8f8f8;
}

.profile {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.notificacao::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    /* Tamanho do ponto de notificação */
    height: 8px;
    /* Tamanho do ponto de notificação */
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    /* Borda branca para parecer um ponto flutuante */
}

.profile:hover {
    background-color: #e0e0e0;
    /* Cor de preenchimento ao passar o mouse */
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
    object-fit: cover;
}

.profile-name {
    font-weight: bold;
}

.upload-photo-input {
    display: none;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

}

.chat-header {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
    color: #fff;
    padding: 10px;
    position: relative;
}

.chat-header-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.chat-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.chat-name {
    font-weight: bold;
}

.chat-status {
    font-size: 0.9em;
}

.chat-messages {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    background-color: #f0f0f0;

}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    width: 98%;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
   


}

.chat-input button {
    transform: translateZ(100px);
    padding: 8px 15px;
    background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 80px;
    height: 30px
}

.open-chat-btn {
    display: block;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    left: 2%;
    top: 2%;
  }

.open-chat-btn i {
    font-size: 25px;
}

.close-chat-btn {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5em;
}

.message {
    position: relative;
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.message.sent {
    align-self: flex-end;
    background: rgb(246, 247, 247);
    color: rgb(65, 116, 119);
}

.message.received {
    align-self: flex-start;

}

.message-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Alinhar ao final do contêiner */
}

.message-status,
.message-timestamp,
.message-delete,
.message-edit {
    margin-left: 5px;
}

.message-delete,
.message-edit {
    color: #888;
    cursor: pointer;
}

.message-delete i,
.message-edit i {
    font-size: 1.2em;
}

.notification {
    position: relative;
    display: inline-block;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}


.simbolo-visualizado {
    color: #33e1f8
}

.unstyled {
    border: unset;
}

iframe {
    position: fixed;
    max-height: 100%;
    margin-right: 0%;
    z-index: 4;     
    border-radius: 10px;

}
 
@media (min-width: 410px) and (max-width: 600px) {
    .chat-popup {
        display: block;
      
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .chat-popup {
        display: block;
       
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .chat-popup {
        display: block;
      
    }
}

@media (min-width: 1025px) and (max-width: 1268px) {
   iframe{
    width:400px;
    height: 490px;
    top:9%;
   }
    .chat-popup {
        display: none;
      
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
 
    .chat-popup {
        display: none;
      
    }
}

@media (min-width: 1441px) and (max-width: 1920px){
    .chat-popup {
        display: none;
      
    }
} 

@media (min-width: 1921px) and (max-width: 2500px) {
    .chat-popup {
        display: none;
      
    }
}