body {
  display:flex;
  justify-content: center;
  /* alinhamento horizontal */
  align-items: flex-start;
  /* alinhamento vertical */
  height: 100vh;
  /* altura total da viewport */
  margin: 0;
  /* remova margens padrão */

}

.NS{
  text-align: center;
}

.open-chat-btn1 {
  display:block;
  position: absolute;
  z-index:1;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
  color: #fff;
  border:none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  left:51.5%;
  top:46%;
}

.container {
 
  width: 35%;
  background: #f8fdfd;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 251, 249) 100%);
  border-radius: 35px;
  padding: 0px 30px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 215, 197, 0.878) 0px 30px 30px -20px;
  margin-top: 2%;
  
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(18, 211, 195);
}

.form {
  margin-top: 5px;
}

.form .input {
  width: 97%;
  background: white;
  border: none;
  padding: 10px 10px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #a9cfc6 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(68, 67, 67);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #10948d;
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: #299b8c;
  text-decoration: none;
}

.form .voltar-button {
  display: block;
  width: 20%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
  color: white;
  padding-block: 15px;
  margin: 5px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 215, 194, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  font-size: 68%;
}

.form .login-button {
  display: block;
  width: 20%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
  color: white;
  padding-block: 15px;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 215, 194, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 215, 197, 0.878) 0px 15px 10px -10px;
}

.inputdata{
  position:relative;
  border:none; 
  margin-top: 5%;
  width:15%;
  left:80%;
}

p{
  margin: 5%;
  text-align: center;
}


.hr-customizado {
  width: 70%;
  /* Ajuste a largura conforme necessário */
  margin: 5px auto;
  /* Adiciona margem acima e abaixo da linha e centraliza horizontalmente */
  height: 2px;
  /* Altura da linha */
  background-color: #000203;
  /* Cor da linha */
  border: none;
  /* Remove a borda padrão */

}
*::-webkit-scrollbar {
  display: none;
}

h4 {
  margin-top: 28%;
}

h1{
  top:5%;
  width: 80%;
  height: 55%;
  background: #065757;
  border-radius: 15px;
  padding: 10px 13px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 215, 197, 0.878) 0px 30px 30px -20px;
  margin: 0;
}

.escrita {
  display: block;
  font-size: 13.5px;
  width: 70%;
  font-weight: normal;
  color: white;
  padding-block: 5px;
  margin-left: 15%;
  border-radius: 20px;
  box-shadow: rgba(133, 215, 194, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  color: white;
  text-transform: uppercase;

}

.contato {

  font-size: 12.5px;
  width: 70%;
  font-weight: normal;
  color: white;
  padding-block: 5px;
  margin-left: 15%;
  border-radius: 20px;
  box-shadow: rgba(133, 215, 194, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin-top: 25%;


}

.switch-container {

  position: fixed;
  top: 0;
  left: 0;
  padding: 9px;
  display: block;
  flex-direction: column;
  align-items: center;
  height: 89%;
  margin: 0;
  max-width: 30%;
  width: 15%;
}

.switch-container main {

  border-radius: 15px;
  position: absolute;
  padding-top: 32px;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
}

.switch-container main.off {
  display: none;
}


.switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

a {
  text-decoration: none;
  margin: 0;
  color: inherit;
}



/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #eee;
  transition: 0.4s;
  border-radius: 0.5em;
  box-shadow: 0 0.2em #dfd9d9;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.4em;
  border-radius: 0.3em;
  left: 0.3em;
  bottom: 0.7em;
  background-color: lightsalmon;
  transition: 0.4s;
  box-shadow: 0 0.4em #bcb4b4;
}

.slider:hover::before {
  box-shadow: 0 0.2em #bcb4b4;
  bottom: 0.5em;
}

input:checked+.slider:before {
  transform: translateX(2em);
  background: lightgreen;
}

.input-div {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(1, 235, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  animation: flicker 2s linear infinite;
  margin-left: 38%;
}

.icon {
  color: rgb(1, 235, 252);
  font-size: 2rem;
  cursor: pointer;
  animation: iconflicker 2s linear infinite;
}

.input1 {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

#thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
} 






